.kfn-settings-container {
    margin-top: 40px;
    margin-left: 20px;
}
.kfn-settings-container h1 {
    font-size: 30px;
}
.kfn-settings-container .description {
    font-size: 14px;
}
.kfn-settings-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.kfn-settings-section .section-title {
    font-size: 22px;
}
.kfn-setting {
    display: flex;
}
.kfn-setting .title {
    margin: 15px 30px 15px 0;
    font-size: 17px;
}
.kfn-settings-submit {
    margin-top: 20px;
}